:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
}

h1 {
  font-size: 3.2em;
  line-height: 0.6;
  text-shadow: 3px 3px 5px #1a1a1a;
}

button {
  margin: 5px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #350749;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #4200dd;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
input {
  display: list-item;
  border-radius: 8px;
  border: 1px solid #1a1a1a;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #ffffff;
  transition: border-color 0.25s;
  margin: 7px;
}
input:active,
input:focus {
  border-color: #4200dd;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 15px;
}

table {
  justify-content: center;
  align-items: center;
  border: solid 10px #eeebeb;
  border-color: #1a1a1a;
  border-radius: 8px;
}

th {
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: 1px #1a1a1a;
  margin: 10px;
}

#content {
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

/* Nav Bar CSS :  */
#nav-bar {
  background-color: #292929;
  padding: 10px;
  max-height: 50px;
}

#nav-items a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

#nav-items a:last-child {
  float: right;
  margin-right: 10px;
}

#nav-items a:hover {
  color: #535bf2;
}

#nav-items a.active {
  color: #535bf2;
}

#nav-items a.active:hover {
  color: white;
}

/* Error page */
#error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;

  font-size: 28px;
}

#error-page h1 {
  font-size: 48px;
}

#error-page i,
p {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 0px;
}

#error-page a {
  color: #646cff;
  text-decoration: none;
  font-size: 20px;
}

#error-page img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

#homepage-quot {
  display: flex;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

#wrapper-status {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 870px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

#wrapper-status div {
  border: #000000 3px solid;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}
